
<div class="container">
    <h1 class="text-center mt-5">Bem-vindo ao Gerenciador de Salas</h1>
  
    <!-- Barra de navegação -->
    <nav class="navbar navbar-expand   ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">
                  HOME
                </a>
              </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tabela">
              Buscar Salas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/novo">
              Cadastro de Salas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cards">
              Lista de Salas
            </a>
          </li>
        </ul>
      </div>
    </nav>
  
    
  </div>
  

<router-outlet></router-outlet>
