<div>
    <!-- Conteúdo Principal -->
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <h3>Cadastre, busque e visualize suas salas de forma rápida e fácil</h3>
        <p>Com o nosso gerenciador de salas, você pode cadastrar novas salas, buscar salas existentes ou visualizar a lista de salas cadastradas de maneira simples e prática.</p>
        <div class="mt-4">
          <a routerLink="/novo" class="btn btn-primary btn-lg">Cadastrar Sala</a>
          <a routerLink="/tabela" class="btn btn-success btn-lg ms-2">Buscar Salas</a>
        </div>
      </div>
    </div>
  
    <!-- Informações adicionais ou links -->
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <h4>Como funciona?</h4>
        <p>O sistema permite gerenciar salas com facilidade. Você pode cadastrar novas salas, consultar as já cadastradas e até mesmo visualizar as salas cadastradas no formato de cartões.</p>
      </div>
    </div>
  
  </div>